:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark-gray-color: #242424;
  --gray-ico-color: #8A8A8A;
  --purple-light-color: #DA00FE;
  --purple-dark-color: #A100ED;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark-gray-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

